<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InsurgencyServerStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <InsurgencyServerStarter.Properties.Settings>
            <setting name="sv_playlist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>nwi/comp</string>
                        <string>nwi/coop</string>
                        <string>nwi/coop_elite</string>
                        <string>nwi/coop_hardcore</string>
                        <string>nwi/pvp_sustained</string>
                        <string>nwi/pvp_tactical</string>
                        <string>nwi/conquer</string>
                        <string>nwi/training</string>
                        <string>custom</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="mp_theater_override" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>theater_thearmory8pnocost_default</string>
                        <string>doi</string>
                        <string>theater_default_training</string>
                        <string>default</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="mapcycle" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mapcycle.txt</string>
                        <string>mapcycle_all.txt</string>
                        <string>mapcycle_ambush.txt</string>
                        <string>mapcycle_attackdefend.txt</string>
                        <string>mapcycle_checkpoint.txt</string>
                        <string>mapcycle_comp.txt</string>
                        <string>mapcycle_conquer.txt</string>
                        <string>mapcycle_cooperative.txt</string>
                        <string>mapcycle_doi.txt</string>
                        <string>mapcycle_firefight.txt</string>
                        <string>mapcycle_flashpoint.txt</string>
                        <string>mapcycle_hunt.txt</string>
                        <string>mapcycle_infiltrate.txt</string>
                        <string>mapcycle_objrespawn.txt</string>
                        <string>mapcycle_occupy.txt</string>
                        <string>mapcycle_practice.txt</string>
                        <string>mapcycle_push.txt</string>
                        <string>mapcycle_singlelife.txt</string>
                        <string>mapcycle_skirmish.txt</string>
                        <string>mapcycle_strike.txt</string>
                        <string>mapcycle_survival.txt</string>
                        <string>mapcycle_sustained_combat.txt</string>
                        <string>mapcycle_tactical_operations.txt</string>
                        <string>mapcycle_training.txt</string>
                        <string>mapcycle_workshop.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
        </InsurgencyServerStarter.Properties.Settings>
    </userSettings>
</configuration>